$rem: 16;
$width: 1366;
// Import
//  * ---------------------------------------
@import "_Zero.scss";
@import "_header.scss";
@import "_Global.scss";
@import "_main.scss";
@import "_footer.scss";

/* Stule CSS
 * --------------------------------------- */
html,
body {
	height: 100% !important;
	width: 100% !important;
}
