$rem: 16;
$width: 1366;
// Import
//  * ---------------------------------------
@import "_Zero.scss";
@import "_header.scss";
@import "_Global.scss";
@import "_main.scss";
@import "_footer.scss";

/* Stule CSS
 * --------------------------------------- */
//  загрузочный экран
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0f1215;
	z-index: 9999999;
	height: 100%;
	width: 100%;
	font: 8em/1 Arial;
}
.no-js #preloader,
.oldie #preloader {
	display: none;
}
$colors: #fff, #fff, #fff, #fff, #fff;
svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: 7% 28%;
	stroke-width: 3px;
	-webkit-animation: stroke-offset 45s infinite linear;
	animation: stroke-offset 45s infinite linear;
}
.text-copy:nth-child(1) {
	stroke: #360745;
	stroke-dashoffset: 7%;
}

.text-copy:nth-child(2) {
	stroke: #d61c59;
	stroke-dashoffset: 14%;
}

.text-copy:nth-child(3) {
	stroke: #e7d84b;
	stroke-dashoffset: 21%;
}

.text-copy:nth-child(4) {
	stroke: #efeac5;
	stroke-dashoffset: 28%;
}

.text-copy:nth-child(5) {
	stroke: #1b8798;
	stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
	50% {
		stroke-dashoffset: 35%;
		stroke-dasharray: 0 87.5%;
	}
}

@keyframes stroke-offset {
	50% {
		stroke-dashoffset: 35%;
		stroke-dasharray: 0 87.5%;
	}
}

BODY {
	background: hsl(200, 70, 11);
	background-size: 0.12em 100%;
}

.text--line {
	font-size: 0.5em;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

$max: 5;
$stroke-step: 7%;
.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
	stroke-width: 3px;

	animation: stroke-offset 50s infinite linear;

	@for $item from 1 through $max {
		$stroke-color: nth($colors, $item);

		&:nth-child(#{$item}) {
			stroke: $stroke-color;
			stroke-dashoffset: $stroke-step * $item;
		}
	}
}

@keyframes stroke-offset {
	50% {
		stroke-dashoffset: $stroke-step * $max;
		stroke-dasharray: 0 $stroke-step * $max * 2.5;
	}
}
